html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif; }

* {
  padding: 0;
  margin: 0; }

.wrapper .navbar, .wrapper .banner__container--left .icons {
  display: flex;
  align-items: center; }

.wrapper .navbar__links a {
  color: black;
  text-decoration: none; }

.wrapper {
  max-width: 1440px;
  overflow: hidden;
  width: 90%;
  margin: auto; }
  .wrapper .navbar {
    height: 7vh;
    justify-content: space-between;
    font-size: 1.5rem;
    transform: unset; }
    @media screen and (max-width: 768px) {
      .wrapper .navbar {
        font-size: 1rem; } }
    .wrapper .navbar--bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.8);
      opacity: 0;
      visibility: hidden; }
    .wrapper .navbar--close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 1.5rem;
      color: white;
      cursor: pointer;
      visibility: hidden; }
    .wrapper .navbar__menu {
      display: none;
      cursor: pointer; }
      @media screen and (max-width: 400px) {
        .wrapper .navbar__menu {
          display: block; } }
    @media screen and (max-width: 400px) {
      .wrapper .navbar__links {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        top: 0;
        left: 0;
        transform: translate(-100%, 0);
        width: 80vw;
        height: 100vh;
        background-color: white; }
        .wrapper .navbar__links a:hover {
          background-color: rgba(0, 0, 0, 0.8);
          color: white; } }
    .wrapper .navbar__links a {
      margin-right: 10px; }
      @media screen and (max-width: 400px) {
        .wrapper .navbar__links a {
          width: 100%;
          height: 20vh;
          margin: 0;
          display: grid;
          place-items: center; } }
  .wrapper .banner {
    overflow: hidden; }
    .wrapper .banner::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-image: url("../assets/bg.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;
      z-index: -1;
      overflow: hidden; }
    .wrapper .banner__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 50px;
      align-items: center;
      justify-items: center;
      place-items: center;
      height: calc(100vh - 7vh);
      width: 100%; }
      @media screen and (max-width: 400px) {
        .wrapper .banner__container {
          grid-template-columns: 1fr;
          grid-column-gap: unset; } }
      .wrapper .banner__container--left {
        width: 100%; }
        .wrapper .banner__container--left .title {
          font-size: 3rem; }
          @media screen and (max-width: 768px) {
            .wrapper .banner__container--left .title {
              font-size: 2rem; } }
        .wrapper .banner__container--left .para {
          font-size: 1.5rem;
          padding: 1em 0; }
          @media screen and (max-width: 768px) {
            .wrapper .banner__container--left .para {
              font-size: 1rem; } }
        .wrapper .banner__container--left .icons {
          width: 25%;
          justify-content: space-between; }
          .wrapper .banner__container--left .icons__line {
            min-width: 50px;
            border: 1px solid black;
            border-radius: 50px; }
      .wrapper .banner__container--right {
        width: 100%; }
        .wrapper .banner__container--right img {
          width: 100%;
          height: 100%; }
